.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Navbar renders the <nav> on the actual DOM
 */
/* direct children need to be styled  */
div#root  div  div  nav {
  background-color: #2E7D32;
}

h1, h2 {
  font-family: 'PT Sans', sans-serif;
}

/* div#root > div.fullscreen-container.center-align > div.not-footer.center-align > div > img.test {
  height: 40px;
} */

#header-img {
  height: -webkit-fill-available!important;
}

.responsive-img {
  /* height: -webkit-fill-available !important; */
  width: auto;
  padding: 1px;
}

.not-footer {
  min-height: 100vh;
  margin-bottom: 10rem;
  margin-top: 5rem;
}

.is-footer {
  margin-bottom: 0px!important;
  color: whitesmoke;
}

button {
  background-color: #77AF9C;
}

.functional-buttons {
  background-color: #285943!important;
}
