.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Navbar renders the <nav> on the actual DOM
 */
/* direct children need to be styled  */
div#root  div  div  nav {
  background-color: #2E7D32;
}

.brand-logo center {
  position:center;
  left:10px;
  top:10px;
  margin: 0px 15px 15px 0px;
}

.not-footer {
  min-height: 100vh;
}
.is-footer {
  margin-bottom: 0px!important;
}


 .not-footer {
   min-height: 100vh;
 }

 .is-footer {
   margin-bottom: 0px!important;
 }

 .container {
  padding: 1rem;
  background-color: lightgray;
  border-radius: 10px;

}
 
