body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  background-image: url(./nomad.jpg);
  background-size:     cover;               
  background-repeat:   no-repeat;
  background-position: center; 
}

.footer {
  margin-top: auto;
  margin-bottom: 0px;
  padding: 1rem;
  background-color: #2e7d32;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}