h1 {
  
    color: black;
}

span {
  
    color: black;
}

.checkbox_3 {
  
    color: black;
}
.container {
  
    background-color: lightgray;
    opacity: 0.9;
    margin: 15px 15px 15px 0px;
}

/* nav {
    background-color: #2E7D32 !important;
  } */

