h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif
}

span {
  
    color: black;
    
}

.checkbox_3 {
  
    color: black;
    text-align: left;
}
.container {
    background-color: lightgray;
    opacity: 0.9;
    margin: auto;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
  
.collapsible-body {
  
    color: black;
    text-align: left;
}  
    
