body {
    font-weight: bold;
    font-style: normal;
}

.input {
    font-size: medium;
    font-weight: bold;
}
 
#create-new-note {
    margin-bottom: 2rem;
}

div.btn-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

div.btn-col {
    margin: .5rem 0;
}