h1, h2 {
    display: flex;
    justify-content: center;
    color: black;
}

div#root > div > div.container > div.input-field.col > div.select-wrapper.white > input.select-dropdown.dropdown-trigger {
    margin-bottom: 5rem;
}

div#root > div.fullscreen-container > div.not-footer > div.container > div.row > div.input-field {
    width: 100% !important; 
}

input {
    margin-left: 20px;
    padding-inline-start: 20px;
}

.tool-carousel {
    height: 300px;
}