h1, h2 {
    display: flex;
    justify-content: center;
    color: black;
}

div#root > div > div.container > div.input-field.col > div.select-wrapper.white > input.select-dropdown.dropdown-trigger {
    margin-bottom: 5rem;
}

div#root > div.fullscreen-container > div.not-footer > div.container > div.row > div.input-field {
    width: 100% !important; 
}



/* How can I make all the images the same size without changing their aspect ratios */
/* div#root > div > div.container > div#Carousel-2.carousel.carousel-slider{

    display: flex;
    align-items: center;
    justify-content: center;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    max-width: 640px;
    max-height: 360px;

}; */

/* Hiding Buttons */
/* div#root > div > div > div#Carousel-2.carousel > button.animal-carousel-button {
    padding: "0";
    background-size: "contain";
    background-repeat: "no-repeat";
    max-width: "100%";
    flex: none;
}; */

/* div#root > div > div.container > div.input-field.col > div.select-wrapper {
    background-color: white;
}; */

